<table width="768" cellspacing="0" cellpadding="0" border="1" align="left" valign="top" style="padding-left:20px;padding-top:-15px;">
            <tbody>
            <tr>
              <td valign="top" height="600" align="left" style="font-size:12px;" colspan="2">
				<h2 class="jdt"><div style="width:auto;float:left;">职位名称：电气自动化工程师</div></h2>
				<table width="100%" cellspacing="2" cellpadding="3" bordercolor="#ffffff" border="0" bgcolor="#ffffff" align="center" style="WIDTH: 100%; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center">
				<tbody>
				<tr>
				<td><div class="jdd">
				<ul>
					<li><span>所属单位：</span><div>研发部</div></li>
					<li><span>所属职位类别：</span><div>研发技术类</div></li>
					<li><span>工作地点：</span><div>东莞市</div></li>
					<li><span>需求人数：</span><div>2人</div></li>
					<li><span>最低工作年限：</span><div>5年</div></li>
					<li><span>最低学历：</span><div>本科</div></li>
					<li><span>发布有效日期：</span><div>2012-1-6 至 2012-07-6</div></li>
					<li><span>职位薪酬：</span><div>面议</div></li>
					<li><span>职位描述：</span><div><p style="line-height:10px">&nbsp;</p>1、统招本科或以上学历；<br>
							2、具有非标设备电气设计或者具备设计ICT和FCT等测试仪器，达5年以上经验；<br>
							3、有设计成套（整台机）设备经验，懂三菱PLC、伺服电机和步进电机控制等； <br>
							4、懂单片机、会上位机的优先考虑；<br>
							5、良好的英文水平，团队协作能力，良好的表达及沟通能力；<br>
					</li></ul>
				</div></td></tr></tbody></table>
             </td>
              </tr>
          </tbody></table>
</td></tr></table>
