<table width="768" cellspacing="0" cellpadding="0" border="0" align="left">
            <tbody>
            <tr>
              <td valign="top" height="600" align="left" style="font-size:12px;" colspan="2">
				<h2 class="jdt"><div style="width:auto;float:left;">职位名称：软件架构工程师11</div></h2>
				<table width="100%" cellspacing="2" cellpadding="3" bordercolor="#ffffff" border="0" bgcolor="#ffffff" align="center" style="WIDTH: 100%; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center">
	<tbody>
	<tr>
	<td><div class="jdd">
      <ul>
	  	<li><span>所属单位：</span><div>IT总部</div></li>
		<li><span>所属职位类别：</span><div>研发技术类</div></li>
		<li><span>工作地点：</span><div>长沙</div></li>
		<li><span>需求人数：</span><div>2人</div></li>
		<li><span>最低工作年限：</span><div>8年</div></li>
		<li><span>最低学历：</span><div>硕士</div></li>
		<li><span>发布有效日期：</span><div>2011-12-15 至 2012-05-23</div></li>
		<li><span>职位薪酬：</span><div>面议</div></li>
        <li><span>工作职责：</span><div><pre>1、负责研发新技术跟踪及研究，技术疑难攻坚，软件设计和开发；<br>2、完成领导交办的其他工作&nbsp;</pre></div></li>
        <li><span>任职要求：</span><div><p style="line-height:10px">&nbsp;</p>1、统招硕士及以上学历，计算机及相关专业，5年以上JAVA项目系统分析设计、开发经验；3年以上大型软件架构设计及实践经验；<br>
2、精通Java，jsp，html，javascrip及Xml等J2EE相关技术；熟悉Structs、AJAX、Spring、Hibernate等框架；能熟练应用ant，Eclipse等Java IDE开发工具和极强的动手能力；<br>
3、熟练掌握mysql、Oracle数据库的使用和开发； <br>
4、具有极强的技术钻究精神，有责任心，有良好的工作态度，吃苦耐劳，具有较强的团队协作精神；<br>
5、良好的表达能力和沟通技巧，清晰准确的阐述问题；优秀的专业英语阅读能力；<br>
6、熟悉软件工程，具有良好的代码编写规范和书写文档的习惯；<br>
7、具备很强的自学能力和独立解决问题的能力，能承受很强的工作压力</div></li>
      </ul>
    </div></td></tr></tbody></table><p></p>
             </td>
              </tr>
          </tbody></table>
</td>
</td></tr></table>
