.nav td{
	font-family:"Microsoft YaHei",微软雅黑,arial;
	font-weight:bold;
	background-color:#804040;
	height:20px;
	width:160px;
	text-indent:10px;
	padding-top:5px;
}
.nav a{
	color:#ffff00;
/*	background-color:#ebebeb;*/
	height:24px;
	font-size:14px;
}
.nav a:hover{
	background-color:#0000ff;
}
.bodyheader{
	background:url('/static/img/body/about_header.jpg'); 
	valign:top;
	align:left;
	line-height: 26px;
	text-indent: 10px;
	border-bottom: 1px solid #C7D6E2;
	font-size: 13px;
    font-weight: bold;
	width:100%;
}
.MsoNormal{
margin: 5px 0px 0px 0px; 
text-align: left;
font-size:12px;
}