<style type="text/css">
.aboutHeader{
	color: #B60005;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 12px;
    padding-top: 10px;
}
.aboutDetail {
    line-height: 26px;
	font-size: 14px;
    margin-bottom: 10px;
}
</style>
<link href="/static/css/body/nav.css" type="text/css" rel="stylesheet">
<table width="100%" border="0">
<tr><td valign="top" width="320px">
	<table align="right" class="nav" border="0" width="160px">
		<tr><td align="center"><a href="$_url/about/aboutus_eng.jhtml?id=1">Introduction</a></td></tr>
		<tr><td align="center"><a href="$_url/about/aboutus_eng.jhtml?id=2">Destination</a></td></tr>
		<tr><td align="center"><a href="$_url/about/aboutus_eng.jhtml?id=3">Idea</a></td></tr>
		<tr><td align="center"><a href="$_url/about/aboutus_eng.jhtml?id=4">Honours</a></td></tr>
	</table></td>