<html><head>
	<link href="/static/css/rotation.css" type="text/css" rel="stylesheet">
		<link href="/static/css/header/header.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/register.js"></script>

</head><body  style="background-color: #fafafa;">
<table style="background-color: #8a8a8a;/*h160,b120*/" align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td rowspan=2 height="120" width="380" valign="top" align="right"><a href="$_url/"><img height="90" width="160" alt="" src="$_url/static/img/logo1-1.jpg" style=""></a></td>
	<td valign="bottom" align="center" style="width:700px;">
        <table width="600px" cellspacing="0" cellpadding="0" border="0"  style="font-size:12px;">
          <tbody>
          <tr>
			<td valign="bottom" style="padding-bottom:0px;width:200px;"><span class="headerlanguage">
			<a href="index.jhtml"> 简体 </a>|<a href="index.jhtml"> 繁體 </a>|<a href="index.jhtml"> ENGLISH </a></span></td>
            <td align="right" colspan=7 valign="bottom">
				<table cellspacing="0" cellpadding="0" border="0"  style="font-size:12px;">
			  <form onsubmit="return checkformlogin()" name="formlogin" action="checklogin.jhtml" method="post"></form>
				<tr>
				<td  colspan=3 align="right" >
				#if($customer)<a href="reg.jhtml?act=showact">$!customer.loginName</a> | <a href="logout.jhtml">退出登录</a></td>
				#else
				<a href="reg.jhtml">新用户注册</a> | <a href="searchpass.jhtml">忘记密码</a>
				#end
				</td>
				</tr>
                <tbody><tr style="padding-bottom:5px;">
                  <td width="210" align="left"><span class="headerlabel">用户名：</span><input class="headerinputbox" type="text" size="15" id="loginuserID" name="loginuserID"></td>
                  <td width="190" align="left"><span class="headerlabel">密码：</span><input class="headerinputbox" type="password" size="15" id="loginpassword" name="loginpassword"></td>
                  <td width="30" align="center"><input type="image" src="$_url/static/img/header/login.jpg" name="Submit"></td>
                </tr>
              </tbody></table>
            </td>
          </tr><tr><td align="left" colspan=8 style="padding-top:12px;"><div id="menu">
		<a href="index.jhtml">&nbsp;&nbsp;首 页&nbsp;</a> <span class="seperator"> | </span><a href="aboutshow.jhtml">&nbsp;关于如金&nbsp;</a>&nbsp;<span class="seperator"> | </span><a href="solutions.jhtml">&nbsp;产品与解决方案&nbsp;</a>&nbsp;<span class="seperator"> | </span>
		<a href="service01.jhtml">&nbsp;产业资讯</a>&nbsp;<span class="seperator"> | </span><a target="_blank" href="http://irm.p5w.net/ssgs/S002121/index.html">&nbsp;客服中心&nbsp;&nbsp;</a></div><td>
      </tr>
        </tbody></table>
    </td>
	<td style="width:300px;"></td>
  </tr>
</tbody></table>
