	<table width="900px" align="center" border="0">		<tr align="left"><td valign="top" width="500px">			#set($imgurl = $id+".jpg")			#set($docurl = $id+".doc")			<a href="$_url/item.jhtml?id=$id"><image width="300px" height="300px" height src="/static/img/products/detail/$imgurl"></a>			</td>			<td width="400px" align="left" valign="top">			<table width="100%" border="0" valign="top">			<tr><td align="center" style="font-size:24px;height:50px;"><b>$pDTO.title</b></td></tr>			#if($!customer)<tr><td align="center"><a href=/static/manual/$docurl>[下载说明书]</a></td></tr>			#end			<tr><td width="100%">			<table border="0" width="100%">			#foreach($attr in $attrs)			<tr><td width="150px" align="left"><b>$attr.AttrName : </b></td><td>$attr.AttrValue</td></tr>			#end			</table></td></tr>			</table>			</td></tr>			<tr><td colspan=2 align="left" style="height:50px;"><b>$pDTO.description</b></td></tr>	</table>