
<table width="800px" align=center border="0"><tr><td  valign="top">
<table width="200px border="0" valign="top">
<div id="xwgg">
            <dl>#foreach($article in $articles)
					<dt><a href="$_url/solution.jhtml?id=$article.ID">$article.Header</a></dt>
				#end
</div>
</table>
</td>

<td  valign="top">
<p align="center">$articleDTO.Header</p>
$articleDTO.Content
</td></tr></table>
