<table width="800" align="center" border="1"><tr><td colspan=1><a href="$_url/editglobalcat.jhtml"> 添加全局分类 </a></td></tr><tr><th>动作</th><th>ID</th><th>全局分类名</th><th>产品ID，逗号分隔</th></tr>#foreach($globalcat in $globalcats)<tr><td><a href="$_url/listglobalcats.jhtml?act=del&id=$globalcat.ID">删除</a></td><td>$globalcat.ID</td><td><a href="$_url/editglobalcat.jhtml?act=edit&id=$globalcat.ID">$globalcat.CatName</td><td>$globalcat.ProductIDs</td></tr>#end</table>