#parse("include/header_big.vm")
<div style="background:url('/static/img/body/background.jpg') repeat-x fixed top center; height:500px;">
#parse("include/breadcrum_big.vm")
#parse("include/customerservice/customerservice_big.vm")
</div>
#parse("include/footer_big.vm")