#parse("include/header_eng.vm")
#parse("include/rotationImg_eng.vm")
<div style="background:url('/static/img/body/background.jpg') repeat-x scroll bottom center;">
#parse("include/indexBody_eng.vm")
</div>
#parse("include/footer_eng.vm")