#parse("include/header.vm")
<div style="background:url('/static/img/body/background.jpg') repeat-x scroll top center; height:700px;">
#parse("include/breadcrum.vm")
#parse("include/search.vm")
</div>
#parse("include/footer.vm")

