#parse("include/header.vm")
<div style="background:url('/static/img/body/background.jpg') repeat-x fixed top center; height:1200px;">
#parse("include/breadcrum.vm")
#parse("include/solutions/solutions.vm")
</div>
#parse("include/footer.vm")