#parse("include/header.vm")
<div style="background:url('/static/img/body/background.jpg') repeat-x fixed top center; #if($!id=="" || $!id=="1")height:800px; #else height:1080px #end">
#parse("include/breadcrum.vm")
#parse("include/videos/videos.vm")
</div>
#parse("include/footer.vm")