			<style>p
			{
				text-align:left;
			}
			</style>
<h3 style="text-align: center;">
鋰電池在電動自行車中的機遇分析</h1>
<p style="align:left;">
&nbsp;&nbsp;&nbsp; 電動汽車的發展速度並不如行業人士預期的那麼快，相應地電動汽車用鋰電池的銷售仍處於較小規模。但我國電動自行車保有量和年產量都非常龐大，2010年我國電動自行車產量2954萬輛，同比增長33%，而電動自行車社會保有量超過一億二千萬輛。由於具有成本優勢，鉛酸電池佔據電動自行車用電池市場的主要份額，鋰電池不足4%。 </p>
<p>
&nbsp;&nbsp;&nbsp; 從2011上半年開始，由於環保部等9部委對鉛酸電池生產行業的大規模整頓，以及公安部等對電動自行車重量作出新的要求，鋰電池在電動自行車領域迎來了新的發展機遇。 </p>
<p>
<strong>&mdash;&mdash;鉛酸電池產不足需，價格飆漲</strong></p>
<p>
&nbsp;&nbsp;&nbsp; 2011年5月18日，環保部下發《關於加強鉛蓄電池及再生鉛行業污染防治工作的通知》，要用最嚴厲的手段全面整治鉛蓄電池行業、鉛再生行業。據環保部預計，現全國約2000家鉛酸蓄電池企業將有1000多家被淘汰，整頓後能保留的廠商不足300家。 </p>
<p>
&nbsp;&nbsp;&nbsp; 從上海市環保局獲悉，全市原列入管理目錄的17家鉛蓄電池企業中，已關停6家。這些企業只有通過嚴格的環保驗收，才可能恢復生產。 </p>
<p>
&nbsp;&nbsp;&nbsp; 鉛酸蓄電池企業的關門整頓，電池產能的嚴重缺失，給龐大的電動車行業帶來了巨大的衝擊，全國各地電動車車行的&ldquo;電池荒&rdquo;，使得多家電動車企業老闆出動，全國找電池。寧波電動車賣場甚至出現&ldquo;空車無電池&rdquo;現象。 </p>
<p>
供需的強烈差距，直接導致鉛酸蓄電池價格的直線上漲，自7月銷售旺季來臨後，電池價格更是風生水起，半年以來，鉛酸電池的漲幅已超過40%。據最新市場行情，一輛48V20AH的電動車，今年5月份，其鉛酸電池市場價達600元左​​右；7月份的電池漲到800元左右；8月份的電池市場價直逼900元，且隨著鉛酸電池貨源緊缺，價格仍會飆漲，與之相應的，原材料鉛的價格卻下降了近10%，更是促成瞭如今鉛酸電池暴利的狂歡。 </p>
<p>
&nbsp;&nbsp;&nbsp; 價格較高原來是鋰電池相比鉛酸電池的主要缺點，一塊鋰電池的製造成本就要上千元，包含車架等其他零配件，一輛車的價格至少要在2000元以上，比較好的鋰電池車甚至要高達4000元/輛以上。而鉛酸蓄電池車的總車價不過是1000多元。但隨著電動自行車用電池的價格高位企穩，以及鉛酸電池產不足需現象的持續，鋰電池將成為電動自行車的必然選擇。 </p>
<p>
<strong>&mdash;&mdash;鉛酸電池的重量難以滿足新的要求</strong></p>
<p>
&nbsp;&nbsp;&nbsp; 隨著鉛酸蓄電池行業的整頓，電動車產業逐步暴露出的嚴重環保問題，國家對電動車&ldquo;限速限重&rdquo;規定的重申，使得此行業引起許多的關注。 </p>
<p>
&nbsp;&nbsp;&nbsp; 今年5月底，公安部、工信部、工商總局、質檢總局下發的《關於加強電動自行車管理的通知》表明，&ldquo;時速不超過20公里、整車質量(重量)不大於40公斤&rdquo;為電動自行車的及格線，不符合該標準的均為超標車，禁止生產、銷售、上路。而這一規定，或許恰好為鋰電池電動車的前景鋪設了廣闊的發展道路。 </p>
<p>
&nbsp;&nbsp;&nbsp; 鋰電池的循環壽命長，放電平台平緩，單個電池的電壓高，能量密度高也就是電池比較輕；</p>
<p>
&nbsp;&nbsp;&nbsp; 鉛酸電池的循環壽命差，能大電流放電，比較重，而且鉛和硫酸都污染環境，但是比鋰電池從經濟性考慮，由電池重量的增加造成運輸能力的損失是逃避不了的問題。以11米電動公交車為例，若採用160kWh動力鋰離子電池，電池組重量約1.8噸，而採用閥控鉛酸電池組，則重量超過6噸。閥控鉛酸電池比動力鋰離子蓄電池超重4噸左右。而該車有效載荷一般為3.8噸～4.2噸之間。採用鉛酸蓄電池與鋰離子電池比，由於重量的增加，有效載荷損失為4噸左右。 </p>
<p>
&nbsp;&nbsp;&nbsp; 蘇州龍躍鋰動車輛有限公司(下稱&ldquo;蘇州龍躍&rdquo;)一位研發負責人稱，鋰電池與鉛酸蓄電池都有24V、36V和48V等電流容量的分類。如果按國家標準看，鋰電池車最好選擇36V的電流容量車型，因為24V的鋰電池產品，存在&ldquo;低溫衰減的問題&rdquo;。而如果是48V的電動車，其提供的能量雖很大，但車速會過快，會產生安全性問題。 </p>
<p>
&nbsp;&nbsp;&nbsp; 對照國家出台的&ldquo;時速20公里、整車重不超過40公斤&rdquo;這條規定看，鉛酸蓄電池的問題就顯然易見了。 </p>
<p>
&nbsp;&nbsp;&nbsp; 前述研發人員表示，電動車要控制在40公斤以下的話，其電池最多只能10多公斤重。從上述經濟性比較就可看出鋰電池的重量優勢，在相同重量下鋰電池也表現出較好的工作性能。 </p>
<p>
總的來說，鋰電池代表了未來先進二次電池的發展方向，在環保、續航力和功率方面相比鉛酸電池都具有優勢。在環保要求越來越嚴格的趨勢下，鉛酸電池的產能將進一步縮小；而相關部門對電動車重量的新標準，也將限制鉛酸電池在電動自行車的進一步應用。隨著鋰電池成本的逐年下降，可以預期未來將在電動自行車電池領域佔據更大的市場份額。 </p>

<p style="text-align: right;">
<span style="font-size: 12px;">來源：中國工控網</span></p>