			<style>p
			{
				text-align:left;
			}
			</style>
		<h3 style="text-align: center;">
			聚焦2011工博會，產業升級精彩起步</h1>
		<p>
			&nbsp;&nbsp;&nbsp; 1月1日-5日，2011工博會在上海新國際博覽中心舉行，本屆工博會共設有數控機床與金屬加工展、工業自動化展、環保技術與設備展、新能源與電力電工展、新能源汽車展、信息與通訊技術展、科技創新展以及航空航天技術展8大專業展，以&ldquo;創新轉型與戰略新興產業&rdquo;為主題集中展示了技術創新能力和戰略新興產業的崛起。本屆工博會得到了國家領導的關注與支持，中共中央政治局委員、中共上海市委書記俞正聲，工業和信息化部部長苗圩，工博會組委會主任、上海市市長韓正，國家發展和改革委員會副主任劉鐵男等國家各部委、省市主要領導出席以及部分中外知名企業負責人出席了開幕式。 </p>
		<p>
			&nbsp;&nbsp;&nbsp; 工業自動化展作為工博會主要構成部分，重點展示工業機器人、傳感器連接器、工業以太網技術、工控嵌入式技術、運動控制、電源、盤櫃、機械安全等領域的最新工控自動化產品和技術。西門子、ABB、發那科、富士電機、史陶比爾、菲尼克斯、圖爾克、威圖、德國庫卡機器人、日本安川電機、歐姆龍、韓國LS產電、 美國海德漢、深圳匯川、德國博士力士樂等國內外領先企業攜新產品、新技術紛紛亮相。 </p>
		<p>
			&nbsp;&nbsp;&nbsp; 自動化廠商在11月1日到3日舉辦了新產品新技術發布會。期間，發那科發布了最新小型高速機器人；而西門子發布的面向中端市場的Simotics GP 1LE0高效電機，是西門子首次為滿足中國和亞洲市場需要，在中國實現本地化生產的一款產品。其他廠商的產品有：LS產電IE7、IS7變頻器；普洛菲斯面向國內中低端市場推出了GP4000M系列產品；歐姆龍NB系列觸摸屏和NJ501機器控制產品；伊碼全球首發新一代智能流量傳感器；EPSON工業機器人解決方案，以及富士電機提出了&ldquo;創新&middot;節能<span>&rdquo;專家口號為用戶提供最佳解決方案。從國外自動化廠商發布新品面向的市場和新產品都在致力於服務中國市場，意味著中國自動化市場在未來潛力巨大。這些主要得益於我國戰略新興產業的發展及創新升級，儘管下半年受全球經濟環境影響，自動化廠商、OEM 用戶業務出現了滑坡，但是並沒有影響自動化企業的發展，對於大多數企業來說他們選擇了產業升級的方式，為企業發展積蓄力量</span>。 </p>
		<p>
			&nbsp;&nbsp;&nbsp;&nbsp; 作為本次展會​​焦點之一工業機器人專區引人矚目，ABB機器人現場演繹搬運、噴塗、安裝等高難度動作，發那科機器人、庫卡、愛普生等機器人也分別展示了真實力。在工業以太網專區，人們除了可以領略到傳統工業以太網企業的產品和技術之外，還可以看到Profibus&amp; Profinet、CC-link、Powerlink、EtherCAT等各大主要工業以太網協議組織參展。 </p>
		<p>
			&nbsp;&nbsp;&nbsp; 除了企業展示產品之外，結合今年工博會主題，各大論壇也是競相開放。論壇分為&ldquo;發展論壇&rdquo;、&ldquo;科技論壇&rdquo;和&ldquo;行業與企業論壇&rdquo;三大板塊，共安排60多項論壇活動，包括OEM機械設計技術高峰論壇、合同能源論壇、2011全球物聯網產業發展論壇、2011數字化製造技術高峰會議、2011 國際機器人與自動化研討會等。在本屆工博會上，gongkong市場研究部舉辦了2011年中國自動化市場分析及發展趨勢研究分享報告會。面對自動化市場的快速發展，在存量市場規模以數千億計，基礎服務市場逐漸顯現的情況下，工控市場研究部政策與存量研究總監郭雅琴女士作了題為&ldquo;中國自動化服務市場&mdash;&mdash;於尷尬中涅槃&rdquo;的主題報告，工控市場研究李文雙針對工業節能市場潛力發表了&ldquo;工業節能-看起來很美&rdquo;的演講。 </p>
		<p>
			&nbsp;&nbsp;&nbsp; 戰略新興產業作為我國創新轉型和產業結構調整升級的重要抓手，在&ldquo;十二五&rdquo;的開局之年發力，使得自動化行業呈現出了產業升級的良好局面。自動化企業已經不再停留於產品階段，而是綜合產品優勢結合用戶需求，推出自動化行業解決方案；機器人也越來越人性化，促進了我國工廠自動化快速發展，從傳統生產方式向著工業自動化生產方式全面進軍；用戶在選擇產品或者解決方案的時候&ldquo;節能、高效&rdquo;已經成為首選標準。這一切都在顯示著產業升級已精彩起步。 </p>
		<p style="text-align: right;">
			<span style="font-size: 12px;">來源：中國工控網</span></p>