			<style>p
			{
				text-align:left;
			}
			</style>
<h3 style="text-align: center;">
			鋰電隔膜技術與產業化將成發展重點</h1>
		<p style="align:left;">
			&nbsp;&nbsp;&nbsp; 行業資料顯示，2010年全球鋰離子電池隔膜產量達3.69億m2，其中超過30%的產品在中國市場消化。同時，中國國內的隔膜生產力量十分薄弱，全國的隔膜生產能力佔全球總能力為6%左右，產品大多進入中低端市場。 <p>
			&nbsp;&nbsp;&nbsp; 目前我國超過80%的隔膜需要從海外進口，隔膜材料已經成為國內鋰電池行業的發展的瓶頸。無論是從市場還是技術而言，我國電池隔膜行業發展潛力都非常巨大。 </p>		<p>
			&nbsp;&nbsp;&nbsp; 電池隔膜產業的發展受到了國家的重視和政策的鼓勵。由國家發改委公佈的《產業結構調整指導目錄（2011年本）》中，電池隔膜（厚度15～40μm，孔隙率40%～60%）被列入鼓勵類項目。 </p>		<p>
			在未來幾年裡，如何開發自主知識產權的技術，並實現中高端產品的產業化，將成為鋰電池隔膜行業發展的重點。 </p>
