			<style>p
			{
				text-align:left;
			}
			</style>
<h3 style="text-align: center;">
			中国锂电池行业有过度投资风险</h1>
		<p style="align:left;">
			&nbsp;&nbsp;&nbsp; 锂电池已经成为二次电池的主流，在数码产品、电动工具等领域取得广泛的应用，并被认为是纯电动汽车的最佳选择。由于政策层面对电动汽车的推动，带来了对锂电池市场机遇的巨大预期，我国锂电池行业投资出现爆发式增长。 </p>
		<p>
			&nbsp;&nbsp;&nbsp; 数据显示，国内从事锂电池业务的公司由2009年的150家激增到2011年的600多家，各行各业的投资者，都对投资锂电池电芯，以及相关的材料生产充满了兴趣。</p>
		<p>
			&nbsp;&nbsp;&nbsp; 但是，受技术成熟度、成本、配套基础设施乃至消费者使用习惯等因素的限制，电动汽车在中国的发展现状远远落后于预期。虽然数码锂电池的需求较为稳定，并且长期来看仍有一定的增长潜力，但要吸收如此巨大的锂电池产能，必须依赖于动力锂电池市场的实质性成长。 
<p>
			&nbsp;&nbsp;&nbsp; 被业界寄予厚望的《节能与新能源汽车发展规划（2011年~2020年）》已经上报国务院，消息称，最终发布的版本将取消初稿中提出的2020年达到500万辆的目标。
<p>
			&nbsp;&nbsp;&nbsp; 国内电动汽车大规模商业化尚未启动，大多数电池生产厂商都是给汽车生产厂家定制电池组，订单很小，由于未能形成规模效应，成本也高昂。以中国锂电池行业的领军企业——比克电池为例，其投资超过1亿美元建设的天津工厂，主要目标之一就是生产车用动力锂电池，但投产至今主要还是生产电动自行车、UPS（不间断电源）及电动工具所用锂电池。电动车和动力锂电池市场发展缓慢，已经对锂电池的投资者形成了巨大的资金和销售压力。</p>
			<p>&nbsp;&nbsp;&nbsp;此外，为了获得品质稳定的锂电池供应，部分电动车生产商倾向于投资参股锂电池生产企业。北汽福田已于2011年在北京开展示范的迷迪纯电动出租车，就是由其参股公司北京普莱德新能源电池科技有限公司提供电池包。上海汽车与A123于2009年投资2000万美元成立上海捷新动力电池系统有限公司，将于2012年形成年产6000套动力锂电池的规模。亚化咨询认为，这种趋势将进一步挤压第三方锂电池供应商的生存空间。 </p>
		<p>
			&nbsp;&nbsp;&nbsp; 长期来看，电动车有望成为新能源汽车的重要组成部分，并在技术成熟和配套设施完善后迎来高速发展，但在2-3年内难以为电池行业急速扩张的产能带来足够的市场空间。亚化咨询认为，锂电池生产企业应该以务实的态度和电动汽车生产商积极合作，共同开展车用锂电池系统的研发，方能于时机成熟后，在未来动力锂电池市场占得先机。必须提醒的是，盲目扩张将带来产能的闲置和投资回报的下降，中国的锂电池及材料行业应当从同为新能源板块的风能、太阳能产业吸取足够的教训。</p>
