			<style>p
			{
				text-align:left;
			}
			</style>
<h3 style="text-align: center;">
			中國鋰電池行業有過度投資風險</h1>
		<p style="align:left;">
			&nbsp;&nbsp;&nbsp; 鋰電池已經成為二次電池的主流，在數碼產品、電動工具等領域取得廣泛的應用，並被認為是純電動汽車的最佳選擇。由於政策層面對電動汽車的推動，帶來了對鋰電池市場機遇的巨大預期，我國鋰電池行業投資出現爆發式增長。 </p>		<p>
			&nbsp;&nbsp;&nbsp; 數據顯示，國內從事鋰電池業務的公司由2009年的150家激增到2011年的600多家，各行各業的投資者，都對投資鋰電池電芯，以及相關的材料生產充滿了興趣。 </p>		<p>
			&nbsp;&nbsp;&nbsp; 但是，受技術成熟度、成本、配套基礎設施乃至消費者使用習慣等因素的限制，電動汽車在中國的發展現狀遠遠落後於預期。雖然數碼鋰電池的需求較為穩定，並且長期來看仍有一定的增長潛力，但要吸收如此巨大的鋰電池產能，必須依賴於動力鋰電池市場的實質性成長。<p>
			&nbsp;&nbsp;&nbsp; 被業界寄予厚望的《節能與新能源汽車發展規劃（2011年~2020年）》已經上報國務院，消息稱，最終發布的版本將取消初稿中提出的2020年達到500萬輛的目標。<p>
			&nbsp;&nbsp;&nbsp; 國內電動汽車大規模商業化尚未啟動，大多數電池生產廠商都是給汽車生產廠家定制電池組，訂單很小，由於未能形成規模效應，成本也高昂。以中國鋰電池行業的領軍企業——比克電池為例，其投資超過1億美元建設的天津工廠，主要目標之一就是生產車用動力鋰電池，但投產至今主要還是生產電動自行車、UPS（不間斷電源）及電動工具所用鋰電池。電動車和動力鋰電池市場發展緩慢，已經對鋰電池的投資者形成了巨大的資金和銷售壓力。 </p>			<p>&nbsp;&nbsp;&nbsp;此外，为了获得品质稳定的锂电池供应，部分电动车生产商倾向于投资参股锂电池生产企业。北汽福田已于2011年在北京开展示范的迷迪纯电动出租车，就是由其参股公司北京普莱德新能源电池科技有限公司提供电池包。上海汽车与A123于2009年投资2000万美元成立上海捷新动力电池系统有限公司，将于2012年形成年产6000套动力锂电池的规模。亚化咨询认为，这种趋势将进一步挤压第三方锂电池供应商的生存空间。 </p>
		<p>
			&nbsp;&nbsp;&nbsp; 長期來看，電動車有望成為新能源汽車的重要組成部分，並在技術成熟和配套設施完善後迎來高速發展，但在2-3年內難以為電池行業急速擴張的產能帶來足夠的市場空間。亞化諮詢認為，鋰電池生產企業應該以務實的態度和電動汽車生產商積極合作，共同開展車用鋰電池系統的研發，方能於時機成熟後，在未來動力鋰電池市場占得先機。必須提醒的是，盲目擴張將帶來產能的閒置和投資回報的下降，中國的鋰電池及材料行業應當從同為新能源板塊的風能、太陽能產業吸取足夠的教訓。