<td align=left>
<table width="800" border="0" align="center"><tr><td width="100%">
	<span style="font-size:12px;"><b>公交線路</b>：東莞市萬江汽車總站乘坐38路公車到上甲社區站下，往前10米。</span><br /><br />
	<table align=left width="754px" cellspacing="2" cellpadding="3" bordercolor="#ffffff" border="1" bgcolor="#ffffff" align="center" style="BORDER-COLLAPSE: collapse;">
	<tbody align=left>
	<tr>
	<td style="text-indent:300px;"><a href=$!_url/geo.html>大地圖全屏查看</a></td></tr>
	<tr>
	<td>
	<img border="0" height="340px" src="$!_url/static/img/body/geo.jpg">
	</td>
	</tr></tbody></table></td></tr></table>
	<p></p>
             </td>
              </tr>
          </tbody></table>