<td align=left>
<table width="800" border="0" align="center"><tr><td width="100%">
	<span style="font-size:12px;"><b>By Bus</b>：In WanJiang Bus Station, take bus 38#, get off on ShangJia Community station. Then step forward for about 10m. </span><br /><br />
	<table align=left width="754px" cellspacing="2" cellpadding="3" bordercolor="#ffffff" border="1" bgcolor="#ffffff" align="center" style="BORDER-COLLAPSE: collapse;">
	<tbody align=left>
	<tr>
	<td style="text-indent:300px;"><a href=$!_url/geo.html>View in Full Screen</a></td></tr>
	<tr>
	<td>
	<img border="0" height="340px" src="$!_url/static/img/body/geo.jpg">
	</td>
	</tr></tbody></table></td></tr></table>
	<p></p>
             </td>
              </tr>
          </tbody></table>
